---
interface Props {
    text: string;
    to: string;
}

const { text, to } = Astro.props;
---


<a
    class="font-lexend bg-black dark:bg-zinc-50 dark:hover:bg-gray-200 hover:bg-gray-950 text-white dark:text-gray-950 py-2 px-4 mt-2" href=`#${to}`;
>
    {text}
</a>