---
import "../styles/global.css";

interface Props {
    name: string;
}

const { name } = Astro.props;
const displayName = name.charAt(0).toUpperCase() + name.slice(1); // Capitalize the first letter
const buttonId = `${name}-button`;
---

<button
    id={buttonId}
    class="cursor-pointer border-solid border bg-white dark:bg-[#121214] border-black dark:border-zinc-100 font-lexend text-xl py-2 px-4 flex-1 hover:bg-black dark:hover:bg-gray-200 dark:hover:text-black hover:text-white hover:border-black dark:text-zinc-100"
>
    {displayName}
</button>
