---
import Cat from "../assets/Cat.png";
---

<footer
    class="flex flex-row flex-wrap gap-x-2 font-lexend justify-center items-center p-10"
>
    <p>Made by Crystal Durán. Last updated on August 2024.</p>
    <a
        href="https://icons8.com/icons/set/cat"
        target="_blank"
        rel="noopener noreferrer"
        ><img
            src={Cat.src}
            alt="Cat by Icons8 https://icons8.com/icon/9243/cat"
            width="40"
            height="40"
        /></a
    >
</footer>
