---
import GitHub from "../assets/GitHub.png";
import LinkedIn from "../assets/LinkedIn.png";
import Button from "./Button.astro";
---

<div class="flex justify-center flex-col border-solid border-2 border-black mx-4 md:mx-14 md:my-2 p-10">
    <div class="font-indie-flower text-5xl pt-10 pb-5">
        <div class="flex justify-center items-center h-16">
            <p>Hello,</p>
        </div>
        <div class="flex flex-row flex-wrap space-x-2 md:space-x-4 justify-center items-center">
            <p>I'm</p>
            <h1 class="font-black text-center">Crystal Durán</h1>
        </div>
    </div>

    <div class="font-lexend text-base pt-10 pb-12">
        <div class="flex justify-center items-center pb-2">
            <p class="text-center">Software developer focused on front-end development</p>
        </div>
        <div class="flex justify-center items-center flex-row space-x-4 pt-2">
            <!-- <a href="https://www.linkedin.com/in/crystal-dur%C3%A1n-n%C3%BA%C3%B1ez-2b14a5279/" target="_blank" rel="noopener noreferrer">
                <img src={LinkedIn.src} alt="Logo LinkedIn" width="30" height="30">
            </a>
            
            <a href="https://github.com/crystalduran" target="_blank" rel="noopener noreferrer">
                <img src={GitHub.src} alt="Logo GitHub" width="30" height="30">
            </a> -->
            <Button text="Explore Projects" to="projects"/>
        </div>
    </div>
</div>
