---
interface Props {
    content: string;
}

// Access received props
const { content } = Astro.props;

---

<li class="flex items-start mb-4">
    <!-- Bullet as SVG -->
    <svg
        class="w-4 h-4 mr-4 mt-2 basis-1/12"
        fill="black"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
    >
        <circle cx="10" cy="10" r="6"></circle>
    </svg>
    <!-- Item content -->
    <p class="basis-3/4">
        {content}
    </p>
</li>
