---
import LogoLight from "../assets/logo-2.png";
import LogoDark from "../assets/logo-white.webp";
---

<style>
    /* Styles for the menu on medium and large devices */
    .menu-large {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
</style>

<header class="p-2">
    <!-- Menu for medium and large devices -->
    <nav
        class="hidden md:flex justify-center font-lexend menu-large pt-2 dark:text-zinc-100"
    >
        <ul
            class="flex flex-row space-x-9 items-center shadow-sm border-solid border-2 border-zinc-950 dark:border-zinc-100 m-6 py-1 px-5 text-lg bg-[#FEFFFC] dark:bg-[#121214]"
        >
            <li>
                <a href="#">
                    <img
                        src={LogoLight.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="dark:hidden"
                    />
                    <img
                        src={LogoDark.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="hidden dark:block"
                    />
                </a>
            </li>
            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Menu for small devices -->
    <header class="md:hidden">
        <nav
            class="flex fixed top-0 left-0 right-0 justify-between items-center pt-2 pb-4 bg-[#FEFFFC] dark:bg-[#121214] border-b-2 border-black dark:border-zinc-100 z-50"
        >
            <!-- Menu icon -->
            <div id="menu-toggle" class="cursor-pointer">
                <svg
                    id="hamburger-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 text-black dark:text-white pl-3"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                <svg
                    id="close-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 text-black dark:text-white pl-3 hidden"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </div>

            <!-- Logo in the middle -->
            <div class="flex justify-center items-center">
                <a href="#">
                    <img
                        src={LogoLight.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="dark:hidden"
                    />
                    <img
                        src={LogoDark.src}
                        alt="Cat logo"
                        width="50"
                        height="50"
                        class="hidden dark:block"
                    />
                </a>
            </div>

            <!-- Empty space to balance the layout -->
            <div class="w-8"></div>
        </nav>

        <!-- Modal menu -->
        <div
            id="menu"
            class="hidden fixed flex-col justify-center items-center border-solid border-2 border-black dark:bg-[#121214] z-50 font-lexend bg-[#FEFFFC] dark:border-zinc-100 w-[320px] mx-2"
        >
            <!-- Navigation links -->
            <div
                class="flex flex-col items-center mx-5 p-10 dark:text-zinc-200 text-xl gap-y-4"
            >
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
                <a href="#skills">Skills</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </header>
</header>

<style>
    .blur {
        filter: blur(4px);
        transition: filter 0.3s ease;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.getElementById("menu-toggle");
        const menu = document.getElementById("menu");
        const hamburgerIcon = document.getElementById("hamburger-icon");
        const closeIcon = document.getElementById("close-icon");
        const main = document.getElementById("main-content");

        menuToggle?.addEventListener("click", function () {
            menu?.classList.toggle("hidden");

            // Cambiar el ícono según el estado del menú
            if (menu?.classList.contains("hidden")) {
                hamburgerIcon?.classList.remove("hidden");
                closeIcon?.classList.add("hidden");
                main?.classList.remove("blur");
            } else {
                hamburgerIcon?.classList.add("hidden");
                closeIcon?.classList.remove("hidden");
                main?.classList.add("blur");
            }
        });

        const links =
            document.querySelectorAll<HTMLAnchorElement>("a[href^='#']");

        links.forEach((link) => {
            link.addEventListener("click", function () {
                const targetId = this.getAttribute("href")?.substring(1);
                const targetElement = targetId
                    ? document.getElementById(targetId)
                    : null;

                if (targetElement) {
                    targetElement.scrollIntoView({ behavior: "smooth" });

                    // Close the mobile menu if it is open
                    if (!menu?.classList.contains("hidden")) {
                        menu?.classList.add("hidden");
                        hamburgerIcon?.classList.remove("hidden");
                        closeIcon?.classList.add("hidden");
                        main?.classList.remove("blur");
                    }
                }
            });
        });
    });
</script>
